<%= render partial: 'layouts/errors', locals: {object: @task}  %>


<%= form_for [@room, @task] do |f| %>


<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div class="field">
  <%= f.label :completed %>
  <%= f.check_box :completed %>
</div>

<div class='actions'>
  <%= f.submit %>
</div>

<% end %>