<h2>Search for a type of Task</h2>
<%= form_tag({controller: "needs_help"}, method: :get) do %>
Task Incl.: <%= text_field_tag :name %>
<%= submit_tag 'Search' %>
<% end %>

<% if @search %>
<h3> Check out: </h3>
<% @search.each do |task| %>
<p><%= task.name %> : <%= task.description %></p>
<% if task.helpers.exclude?(current_user) %>

<p><%= link_to "Help Out", task_help_path(task), method: :post %></p>
<% else %>
<h5>You've signed up!</h5>
<% end %>
<% end %>
<% end %>

<h1>Community Tasks</h1>
<table>
  <tr>
    <th> Task Name </th>
    <th> Description </th>
    <th> Owner </th>
    <th> Volunteer to Help </th>


  </tr>
  <% @tasks.each do |t| %>

  <tr>
    <% if t.user == current_user %>
    <td> Your task for <%= t.name %> is displayed for others to sign up!</td>
    <% else %>
    <td> <%= t.name %> </td>
    <td> <%= t.description %></td>
    <td> <%= t.user.email %></td>
    <% if t.helpers.exclude?(current_user) %>
    <td><%= link_to "Help Out", task_help_path(t), method: :post %></td>
    <% else %>
    <td> Signed Up! </td>
    <% end %>

  </tr>
  <% end %>
  <% end %>
</table>