<h3><%= @room.name.capitalize %> Dashboard </h3>

<h4>Description</h4>
<ul>
  <li><%= @room.description %></li>
</ul>
<h4> Features:</h4>
<ul>
  <li><%= @room.features %></li>
</ul>
<p>
<div>
  <%= link_to "Edit Details", edit_room_path(@room) %> |
  <%= link_to 'Delete Room', room_path(@room), method: :delete %>
</div>
</p>
<h4>Tasks to Do </h4>
<%= link_to 'See Detailed Task View', tasks_path %>
<ul>
  <% @room.tasks.each do |t| %>

  <li><%= t.name %></li>



  <% end %>
</ul>

<%= link_to 'Add Task', new_room_task_path(@room) %> |
<%= link_to 'All Tasks', tasks_path %>
</div>