<h3><%= @room.name.capitalize %> Dashboard </h3>

<h4>Description</h4>
<ul>
  <li><%= @room.description %></li>
</ul>
<h4> Features:</h4>
<ul>
  <li><%= @room.features %></li>
</ul>

<h3>Tasks to Do </h3>
<ul>
  <% @room.tasks.each do |t| %>
  <h5>Task:</h5>
  <li><%= t.name %></li>
  <h6> Description: </h6>
  <ul>
    <li><%= t.description %> </li>
  </ul>
  <% end %>
</ul>

<%= link_to 'Add Task', new_room_task_path(@room) %> |
<%= link_to "Edit Details", edit_room_path(@room) %> |
<%= link_to 'Delete Room', room_path(@room), method: :delete %>