<h3><%= @room.name.capitalize %> Dashboard </h3>

<h4>Description</h4>
<ul>
  <li><%= @room.description %></li>
</ul>
<h4> Features:</h4>
<ul>
  <li><%= @room.features %></li>
</ul>
<p>
<div>
  <%= link_to "Edit Details", edit_room_path(@room) %> |
  <%= link_to 'Delete Room', room_path(@room), method: :delete %>
</div>
</p>
<h4>Tasks to Do </h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>

    </tr>
  </thead>
  <tbody>
    <% @room.tasks.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td><%= t.description %></td>
      <td><%= link_to "Edit", edit_room_task_path(@room, t)%></td>
      <td><%= link_to "Delete", [@room, t], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>

  </tbody>
</table>


<br>
<div>
  <%= link_to 'Add Task', new_room_task_path(@room) %> |

</div>

<div>
  <h3>Realtor Comments<h3>
      - insert partial?
</div>