<h3><%= @room.name.capitalize %> Dashboard </h3>

<h4>Description</h4>
<ul>
  <li><%= @room.description %></li>
</ul>
<h4> Features:</h4>
<ul>
  <li><%= @room.features %></li>
</ul>
<p>
<div>
  <%= link_to "Edit Details", edit_room_path(@room) %> |
  <%= link_to 'Delete Room', room_path(@room), method: :delete %>
</div>
</p>
<h4>Tasks to Do </h4>

<ul>
  <% @room.tasks.each do |t| %>

  <li><%= t.name %> : <%= t.description %></li>



  <% end %>
</ul>

<%= link_to 'Add Task', new_room_task_path(@room) %> |
<%= link_to 'Room Tasks', room_tasks_path(@room) %>
</div>