<div id='user_navbar'>

  <% if user_signed_in? %>

  Logged in as <strong><%= current_user.email %></strong>

  <%= link_to 'Home', "/users/:id" %> |
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> |
  <%= link_to 'Add Room', new_room_path %> |
  <%= link_to 'All Rooms', root_path %> |
  <%= link_to 'My Tasks', tasks_path %> |
  <%= link_to 'Needs Help', "/needs_help" %> |



  <% else %>

  <%= link_to 'Log In', new_user_session_path %> |
  <%= link_to 'Sign Up', new_user_registration_path %>

  <% end %>

</div>